<div class="container">

  <!-- card -->
  <button class="card-button" [routerLink]="['/CourseTable']">
    <div class="card-body">
      <h4 class="card-title">Courses</h4>

      <br>
    </div>
    <img src="\assets\Pictures\courses.jpeg" alt="Image" style="width: 180px; height: 190px;">
  </button>
  <!-- card -->

  <!-- card -->
  <button class="card-button" [routerLink]="['/student']">

    <div class="card-body">

      <h4 class="card-title">Students</h4>
      <br>
    </div>
    <img src="\assets\Pictures\students.jpeg" alt="Image" style="width: 180px; height: 190px;">
  </button>
  <!-- card -->


  <!-- card -->
  <button class="card-button" [routerLink]="['']">
    <div class="card-body">
      <h4 class="card-title">Instructors</h4>

      <br>
    </div>
    <img src="\assets\Pictures\instructors.jpg" alt="Image" style="width: 180px; height: 190px;">
  </button>
  <!-- card -->

  <!-- card -->
  <button class="card-button" [routerLink]="['']">
    <div class="card-body">
      <h4 class="card-title">Grades</h4>

      <br>
    </div>
    <img src="\assets\Pictures\grades.jpeg" alt="Image" style="width: 180px; height: 190px;">
  </button>
  <!-- card -->


  <!-- card -->
  <button class="card-button" [routerLink]="['']">
    <div class="card-body">
      <h4 class="card-title">Assignements</h4>

      <br>
    </div>
    <img src="\assets\Pictures\assignement.jpeg" alt="Image" style="width: 180px; height: 190px;">
  </button>
  <!-- card -->



</div>