<br>

<div class="container-fluid justify-content-center m-1">

    <div class="row justify-content-center">
        <div class="col">
            <div class="card ">


                <div class="card-header text-center">
                    <h2 class="font-weight-bold text-center text-primary">Sign up</h2>
                </div>
                <div class="card-body">

                    <form style="padding-top: 5px;">
                        <div class="form-group">
                            <label for="name">Nom:</label>
                            <input type="text" class="form-control" id="name" placeholder="Entrez votre nom" required>
                        </div>
                        <div class="form-group">
                            <label for="firstname">Prénom:</label>
                            <input type="text" class="form-control" id="firstname" placeholder="Entrez votre prénom"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="username">Nom d'utilisateur:</label>
                            <input type="text" class="form-control" id="username"
                                placeholder="Utilisateur@exemple.com" value="" required autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe:</label>
                            <input type="password" class="form-control" id="password"
                                placeholder="Entrez votre mot de passe" value="" required autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="password">Confirmer le Mot de passe:</label>
                            <input type="password" class="form-control" id="password-confirm"
                                placeholder="Confirmez votre mot de passe" required>
                        </div>
                        <div class="form-group">
                            <label for="roleId">Rôle ID:</label>
                            <input type="text" class="form-control" id="roleId" placeholder="Entrez votre rôle ID" value="3" disabled>
                        </div>
                        <button type="submit" class="btn btn-primary mt-5">S'inscrire</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
