
<img src="assets\Pictures\SchoolBeeld.jpeg" alt="EPHEC"
    style="width: 300px; height: 200px; margin-top: 3vh; margin-left: auto; margin-right: auto; display: block;">
    <app-login></app-login>
<div style="text-align: center; margin-top: 5vh;">
    <h1 style="font-size: 48px; color: #5718aa; text-decoration: underline;">Bienvenue à l'EPHEC!</h1>
    <p style="font-size: 18px; color: #666;">Nous sommes ravis de vous accueillir dans notre école.</p>
   

 

</div>



<!-- <div class="container-fluid">

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-3">
            <app-login></app-login>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-3">
            <app-inscription></app-inscription>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div> -->