 

<app-navbar2></app-navbar2>


<router-outlet></router-outlet> 

 <!-- <div class="container">
    <div class="card" style="background-color: rgb(163, 138, 81); width: 200px; height: 290px; padding: 10px; margin: 10px; display: inline-block;">
        <img src="https://www.themoviedb.org/t/p/w1280/11HRdHtqynRb0JpiQJZzVXtyKDb.jpg" alt="Image" style="width: 180px; height: 190px;">
        <div class="card-body">
            <h5 class="card-title">Title : 1 </h5>
            <p class="card-text">Paragraph: </p>
        </div>
    </div>

    <div class="card" style="background-color: rgb(58, 58, 101); width: 200px; height: 290px; padding: 10px; margin: 10px; display: inline-block;">
        <img src="https://www.themoviedb.org/t/p/w1280/4V06xpCUesnzXvkQav1q3RRlwxh.jpg" alt="Image" style="width: 180px; height: 190px;">
        <div class="card-body">
            <h5 class="card-title">Title : 1 </h5>
            <p class="card-text">Paragraph: </p>
        </div>
    </div>
    <div class="card" style="background-color: rgb(94, 94, 162); width: 200px; height: 290px; padding: 10px; margin: 10px; display: inline-block;">
    
        <img src="https://www.themoviedb.org/t/p/w1280/4925wPllJdQmHd1RxbZ62ZekaW3.jpg" alt="Image" style="width: 180px; height: 190px;">

        <div class="card-body">
            <h5 class="card-title">Title : 1 </h5>
            <p class="card-text">Paragraph: </p>
        </div>
    </div>
    <div class="card" style="background-color: rgb(54, 110, 58); width: 200px; height: 290px; padding: 10px; margin: 10px; display: inline-block;">
    
        <img src="\assets\Pictures\SchoolBeeld.jpeg" alt="Image" style="width: 180px; height: 190px;">

        <div class="card-body">
            <h5 class="card-title">Title : 1 </h5>
            <p class="card-text">Paragraph: </p>
        </div>
    </div>

</div> -->
                                                                                                                        